/* .ant-title-color.ant-title-primary.description__title--A{
    color: #5C5CEA;
}
.ant-title-color.ant-title-primary.description__title--B{
    color: #A8BC3B;
}
.ant-title-color.ant-title-primary.description__title--C{
    color: #CA1551;
}
.ant-title-color.ant-title-primary.description__title--D{
    color: #FDB833;
} */

.description__text--A{
	color: yellow; 
}