.page__description__container {
    margin-bottom:30px;
}
.ant-typography.page__title {
    color: #123dc6;
    font-size: 20px;
}
.description__list {
    font-size: 16px;
    font-style:italic;
    margin-top: 10px;
}