.levelInfo__number--A{
	color: #5C5CEA;   
}

.levelInfo__number--B{
	color: #A8BC3B;  
}

.levelInfo__number--C{
	color: #CA1551;  
}

.levelInfo__number--D{
	color: #FDB833;
}
.ant-typography.title__h4{
	font-size: 15px;
}